<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TODO LIST</h1>
    <h2>ADD A TASK:</h2>
    <form action="/addTask" method="POST">
        <label for="taskName">Description of task: </label><input type="text" name="taskName" id="taskName">
        <label for="taskDuration">Duration of task: </label><input type="text" name="taskDuration" id="taskDuration">
        <label for="taskPriority">Priority of task (1-10): </label><input type="number" name="taskPriority" id="taskPriority">
        <input type="submit" value="submit value">
    </form>
    <h2>YOUR TASKS:</h2>
    <ul>
        <% for(let i=0;i<info.length;i++){%>
            <li>
                <span>Task: <%= info[i].taskName%>|</span>
                <span>Duration: <%= info[i].taskDuration%>|</span>
                <span>Priority: <%= info[i].taskpriority%>|</span>
                <span>Percent Complete: <%= info[i].percentComplete%>%</span>
                <a href="#" class="delete">Delete</a>
                <a href="#" class="complete">Add 25% completion</a>
            </li>
        <%}%>
    </ul>
    <script src="main.js"></script>
</body>
</html>